/* =------drawer */
.drawer-wrapper {
    display: flex;
    position: relative;
    /*핸들 기준을 여기로 잡는다는 얘기 */
}

.drawer {
    width: 15px;
    overflow: hidden;
    transition: width 0.4s ease;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    height: 100vh;
}

.drawer.open {
    width: 320px;
}

.drawer-handle {
    position: absolute;
    top: 50%;
    left: -28px;
    transform: translateY(-50%) rotate(-90deg);

    font-size: 0.9rem;
    letter-spacing: 0.05em;

    padding: 4px 8px;
    background: rgba(255, 255, 255, 0.85);
    color: #222;
    cursor: pointer;
    opacity: 0.6;
    user-select: none;
    animation: gentleBlink 6s ease-in-out infinite;
    /* animation: underlinePulse 10s ease-in-out infinite;*/

}

.drawer-handle:hover {
    opacity: 1;
}

.drawer-content {
    padding: 16px;
    /*
            display: flex;
            flex-direction: column;
            gap: 16px;*/
    height: 100%;
}

.drawer-scroll {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.drawer-content img {
    width: 100%;
    height: auto;
    object-fit: contain;
    pointer-events: none;

}

/* ===== Lightbox ===== */
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.lightbox.active {
    opacity: 1;
    pointer-events: auto;
}

.lightbox img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    pointer-events: none;
    /*prevent image save */
}